<!doctype html>
<!-- Se o atributo "ng-strict-di" está presente no elemento app, o injector será criado no modo "strict-di". Isto significa que a aplicação vai dar erro ao invicar funções que não utilizam anotação explícita (e são, portanto, inadequadas para mimificação), conforme descrito no guia de Injeção de Dependência, isso trará informações de depuração úteis, o que ajudará a rastrear a raiz bugs de DI. -->
<html ng-app="appTeste" ng-strict-di>
	<head>
		<title>appTeste</title>
		<script type="text/javascript" src="lib/angular/angular.js"></script>
	</head>
	<body>
		<h1>Projeto de teste com angular-auto-focus</h1>

		<button ng-init="render = true" ng-click="render = !render">
		    Toggle
		</button>
		<input ng-if="render" auto-focus>

		<script type="text/javascript" src="js/app.js"></script>
		<script src="lib/angular-auto-focus/angular-auto-focus.js"></script>
	</body>
</html>